extends layout.pug

block content
  .container
    form
  .form-group
    label(for='exampleFormControlInput1') Email address
    input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
  .form-group
    label(for='exampleInputPassword1') Password
    input#exampleInputPassword1.form-control(type='password' placeholder='Password')
  .form-group
    label(for='exampleFormControlTextarea1') 
    textarea#exampleFormControlTextarea1.form-control(rows='3')
  button.btn.btn-block.btn-primary(type='submit') Submit
    
    