extends layout

block content
  .container
  .jumbotron
    h1.display-4 Swedish Gourmet
    p.lead
      | We specialize in Swedish quality products delivered directly home to your door! Our shop is open around the clock so you can add your order when it suits you. Do you live in Sweden or outside does not matter. We deliver directly to you! We wish a pleasant stay on our website and so clearly,
    hr.my-4
    
    a.btn.btn-block.btn-primary.btn-lg(href='/products' role='button') Check out our latest products

